
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.username{
  padding: 30px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pass{
    padding: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   

  }
  
.buttons{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}
.example-button-row2 {
  padding-top: 10%;
  margin-left: 10;
  
}

.forms{
  text-align: center;
  color: aquamarine;
}
