<div class="froms">
<form #userform='ngForm' (ngSubmit)="onSubmit(userform)">
<div class="username" >
  <b> <mark>Name:</mark> </b> <input matInput name="name" ngModel placeholder="username" required/>
</div>
<div class="pass">
    <mark>Password:</mark> <input matInput name="password" ngModel placeholder="password"/>
</div>
<div class="buttons">
    <button mat-button color="accent">submit</button>
</div>
</form>
</div>